@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding-left: 10px;
}

h2, h3, h5 {
    color: #1F5EAF;
}

h2 {
    display: inline-block;
    background-color: #ff5202;
    color: #ffffff;
    padding: 13px;
    border-radius: 23px;
}


h5 {
    margin-bottom: 2px;
}

p {
    opacity: 0.8;
}

caption {
    font-weight: 800;
}

.dados {
    border: 1px solid #1F5EAF;
    border-radius: 10px;
    width: 120px;
    padding: 8px 10px;
}

.botao {
    color: #ffffff;
    border-color: transparent;
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    margin: 3px;
}

#botao1 {
    background-color: #1F5EAF;
}

#botao1:hover {
    background-color: #153d72;
    transition: 0.2s;
}

#botao2 {
    background-color: #ff5202;
}

#botao2:hover {
    background-color: #c94102;
    transition: 0.2s;
}

table {
    border-collapse: collapse;
    width: 600px;
    font-size: smaller;
    margin: 10px 0px 10px 0px;

    text-transform: uppercase;
    border-bottom: 1px solid #dee2e7;
    text-align: left;
}

div#container {
    overflow-x: scroll;
}

caption {
    background-color: #1F5EAF;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
}

th {
    color: #1F5EAF;
    padding: 5px;
}

td {
    padding-right: 50px;
    opacity: 0.8;
    font-size: smaller;
    padding: 5px;
}

.numero {
    text-align: center;
}

.situacao {
    background-color: #42f1f157;
}
